.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  min-width: 900px;
}

h3 {
  text-align: center;
}

.template {
  position: relative;
}

input {
  padding: initial;
  height: initial;
  margin: 0;
}

.form-row {
  display: flex;
}